//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here




.govuk-main-wrapper {
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  @media (min-width: 40.0625em) {
    .govuk-main-wrapper {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }
  
  .govuk-main-wrapper--auto-spacing:first-child,
  .govuk-main-wrapper--l {
    padding-top: 30px;
  }
  @media (min-width: 40.0625em) {
    .govuk-main-wrapper--auto-spacing:first-child,
    .govuk-main-wrapper--l {
      padding-top: 50px;
    }
  }
  